<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>評審導師</title>
    
    <link rel="shortcut icon" href="assets/img/logo.ico">
    <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/plugins/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="../assets/css/general.css">
    <link rel="stylesheet" href="../assets/css/judge.css">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="../assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <nav id="navbar" class="fixed">
        
    </nav>

    <div class="container" id="judges">
        <div class="row" style="margin: 25px 0;">
            <div class="col-md-2 phase-name text-center">
                <a href="first.html">初選評審</a>
            </div>
            <div class="col-md-2 phase-name text-center">
                <a href="second.html">精煉評選評審</a>
            </div>
        </div>
        <div class="row">
            <one-judge v-for="judge in judges.second" :judge="judge"></one-judge>
        </div>
    </div>
    
    
    
    <footer>
        
    </footer>
    <div id="messenger">
        
    </div>
    
    <script type="text/x-template" id="judge-template">
        <div class="col-md-12">
            <div class="one-teacher flexbox-center">
            <div>
                <div class="col-sm-3 col-xs-6">
                    <img class="circular-img" :src="judge.imageUrl" />
                </div>
                <div class="col-sm-9 col-xs-12">
                    <div class="col-sm-12">
                        <h3 class="teacher-name">{{ judge.name }} |<span><br class="visible-xs" />{{ judge.title }}</span></h3>
                    </div>
                    <div class="col-sm-6">
                        <div class="content">
                            <h4>專長項目</h4>
                            <p v-for="expertise in judge.expertises">{{ expertise }}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="content">
                            <h4>經歷</h4>
                            <p v-for="experience in judge.experiences">{{ experience }}</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </script>
    
    <script type="text/javascript" src="../assets/js/general.js"></script>
    <script type="text/javascript" src="../assets/js/judges.js?v=1"></script>
</body>
</html>