@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face {
  font-family: Futura-Medium;
  src: url("../../font/Futura-Medium.ttf");
}
/* line 7, ../../sass/summit/_general.scss */
html * {
  font-family: 'Futura-Medium', 'Noto Sans TC', sans-serif;
}

/* line 11, ../../sass/summit/_general.scss */
body {
  background-color: #000;
  overflow-x: hidden;
}

/* line 15, ../../sass/summit/_general.scss */
p {
  font-size: 18px;
}

/* line 18, ../../sass/summit/_general.scss */
.full-height {
  height: 100%;
}

/* line 21, ../../sass/summit/_general.scss */
.flexbox-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

/* line 54, ../../sass/summit/_general.scss */
#sidenav:hover #nav_button {
  left: -50px;
}
/* line 57, ../../sass/summit/_general.scss */
#sidenav #nav_button {
  position: fixed;
  left: 0;
  top: 10vh;
  color: #000;
  z-index: 100;
  cursor: pointer;
  transition: all .5s;
}
/* line 68, ../../sass/summit/_general.scss */
#sidenav #nav_button .icon-wrapper {
  z-index: 100;
  position: absolute;
  height: 60px;
  left: 5px;
  top: 0;
}
/* line 75, ../../sass/summit/_general.scss */
#sidenav #nav_button .icon-wrapper .fa-bars {
  position: relative;
  line-height: 60px;
}
/* line 80, ../../sass/summit/_general.scss */
#sidenav #nav_button .triangle {
  content: "";
  z-index: 99;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 40px solid #fff;
}
/* line 96, ../../sass/summit/_general.scss */
#sidenav #nav_menu .list {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 0;
  background-color: #eee;
  overflow: hidden;
  transition: width .4s ease-out;
}
/* line 107, ../../sass/summit/_general.scss */
#sidenav #nav_menu .list.expanded {
  width: 300px;
}
@media screen and (max-width: 768px) {
  /* line 107, ../../sass/summit/_general.scss */
  #sidenav #nav_menu .list.expanded {
    width: 100vw;
  }
}
/* line 114, ../../sass/summit/_general.scss */
#sidenav #nav_menu .list a, #sidenav #nav_menu .list a:hover {
  text-decoration: none;
  color: #333;
}
/* line 118, ../../sass/summit/_general.scss */
#sidenav #nav_menu .list .close_button {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* line 123, ../../sass/summit/_general.scss */
#sidenav #nav_menu .list ul {
  list-style-type: none;
  padding: 50px 0 0;
}
/* line 127, ../../sass/summit/_general.scss */
#sidenav #nav_menu .list ul li {
  padding: 20px 40px;
  width: 300px;
  position: relative;
}
/* line 132, ../../sass/summit/_general.scss */
#sidenav #nav_menu .list ul li .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  /* line 127, ../../sass/summit/_general.scss */
  #sidenav #nav_menu .list ul li {
    width: 100vw;
  }
}
/* line 141, ../../sass/summit/_general.scss */
#sidenav #nav_menu .list ul li:hover {
  background-color: #ffeb32;
}
/* line 144, ../../sass/summit/_general.scss */
#sidenav #nav_menu .list ul li .title-zh {
  font-size: 28px;
  font-weight: bold;
}
/* line 148, ../../sass/summit/_general.scss */
#sidenav #nav_menu .list ul li .title-en {
  font-size: 24px;
  font-style: italic;
}
/* line 155, ../../sass/summit/_general.scss */
#sidenav #nav_menu .list.sub {
  left: 300px;
  z-index: 99;
  background-color: #ddd;
}
@media screen and (max-width: 768px) {
  /* line 155, ../../sass/summit/_general.scss */
  #sidenav #nav_menu .list.sub {
    left: 0;
  }
}
/* line 163, ../../sass/summit/_general.scss */
#sidenav #nav_menu .list.sub .back_button {
  position: absolute;
  left: 10px;
  top: 10px;
}

/* line 4, ../../sass/summit/index.scss */
#top {
  background-image: url("../../img/summit/index/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
/* line 12, ../../sass/summit/index.scss */
#top .mountains-container .mountain, #top .pulse, #top .title {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
/* line 20, ../../sass/summit/index.scss */
#top .stars {
  position: absolute;
  top: -50%;
  left: 0;
  height: 200%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 29, ../../sass/summit/index.scss */
#top .stars.inside {
  background-image: url("../../img/summit/index/stars_inside.png");
  opacity: 0.4;
  animation: spin 60s infinite linear;
}
/* line 34, ../../sass/summit/index.scss */
#top .stars.outside {
  background-image: url("../../img/summit/index/stars_outside.png");
  opacity: 0.2;
  animation: spin 40s infinite linear;
}
@-webkit-keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@-moz-keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@-ms-keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
/* line 49, ../../sass/summit/index.scss */
#top .mountains-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: walk 2s ease;
  animation-fill-mode: forwards;
}
@-webkit-keyframes walk {
  from {
    -webkit-perspective-origin: 90% 90%;
    /* Chrome, Safari, Opera */
    perspective-origin: 90% 90%;
    -webkit-perspective: 100px;
    /* Chrome, Safari, Opera */
    perspective: 100px;
  }
  to {
    -webkit-perspective-origin: 50% 50%;
    /* Chrome, Safari, Opera */
    perspective-origin: 50% 50%;
    -webkit-perspective: 200px;
    /* Chrome, Safari, Opera */
    perspective: 200px;
  }
}
@-moz-keyframes walk {
  from {
    -webkit-perspective-origin: 90% 90%;
    /* Chrome, Safari, Opera */
    perspective-origin: 90% 90%;
    -webkit-perspective: 100px;
    /* Chrome, Safari, Opera */
    perspective: 100px;
  }
  to {
    -webkit-perspective-origin: 50% 50%;
    /* Chrome, Safari, Opera */
    perspective-origin: 50% 50%;
    -webkit-perspective: 200px;
    /* Chrome, Safari, Opera */
    perspective: 200px;
  }
}
@-ms-keyframes walk {
  from {
    -webkit-perspective-origin: 90% 90%;
    /* Chrome, Safari, Opera */
    perspective-origin: 90% 90%;
    -webkit-perspective: 100px;
    /* Chrome, Safari, Opera */
    perspective: 100px;
  }
  to {
    -webkit-perspective-origin: 50% 50%;
    /* Chrome, Safari, Opera */
    perspective-origin: 50% 50%;
    -webkit-perspective: 200px;
    /* Chrome, Safari, Opera */
    perspective: 200px;
  }
}
@keyframes walk {
  from {
    -webkit-perspective-origin: 90% 90%;
    /* Chrome, Safari, Opera */
    perspective-origin: 90% 90%;
    -webkit-perspective: 100px;
    /* Chrome, Safari, Opera */
    perspective: 100px;
  }
  to {
    -webkit-perspective-origin: 50% 50%;
    /* Chrome, Safari, Opera */
    perspective-origin: 50% 50%;
    -webkit-perspective: 200px;
    /* Chrome, Safari, Opera */
    perspective: 200px;
  }
}
/* line 73, ../../sass/summit/index.scss */
#top .mountains-container .mountain {
  top: 100%;
  animation-name: rise;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
/* line 82, ../../sass/summit/index.scss */
#top .mountains-container .mountain.m1 {
  background-image: url("../../img/summit/index/mountain1.png");
  z-index: 3;
  animation-duration: 1.5s;
  animation-delay: 0;
}
/* line 88, ../../sass/summit/index.scss */
#top .mountains-container .mountain.m2 {
  background-image: url("../../img/summit/index/mountain2.png");
  z-index: 4;
  animation-duration: 0.9s;
  animation-delay: 0.3s;
}
/* line 94, ../../sass/summit/index.scss */
#top .mountains-container .mountain.m3 {
  background-image: url("../../img/summit/index/mountain3.png");
  z-index: 2;
  animation-duration: 0.8s;
  animation-delay: 0.7s;
}
/* line 100, ../../sass/summit/index.scss */
#top .mountains-container .mountain.m4 {
  background-image: url("../../img/summit/index/mountain4.png");
  z-index: 1;
  left: 40%;
  animation-duration: 1s;
  animation-delay: 1s;
}
@-webkit-keyframes rise {
  from {
    top: 100%;
    transform: translateZ(-50px);
  }
  to {
    top: 0;
    transform: translateZ(-20px);
  }
}
@-moz-keyframes rise {
  from {
    top: 100%;
    transform: translateZ(-50px);
  }
  to {
    top: 0;
    transform: translateZ(-20px);
  }
}
@-ms-keyframes rise {
  from {
    top: 100%;
    transform: translateZ(-50px);
  }
  to {
    top: 0;
    transform: translateZ(-20px);
  }
}
@keyframes rise {
  from {
    top: 100%;
    transform: translateZ(-50px);
  }
  to {
    top: 0;
    transform: translateZ(-20px);
  }
}
/* line 119, ../../sass/summit/index.scss */
#top .pulse {
  background-image: url("../../img/summit/index/pulse.png");
  opacity: 0;
  animation: pulse 2s infinite ease;
  animation-delay: 2s;
}
@-webkit-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
/* line 138, ../../sass/summit/index.scss */
#top .title {
  background-image: url("../../img/summit/index/title.png");
  background-position: center;
  z-index: 50;
  opacity: 0;
  animation: fadeIn 1s ease;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 158, ../../sass/summit/index.scss */
#top .text-container {
  position: absolute;
  width: 30vw;
  height: 95vh;
  left: 10vw;
  bottom: 0;
}
/* line 165, ../../sass/summit/index.scss */
#top .text-container .trapezoid-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 173, ../../sass/summit/index.scss */
#top .text-container .trapezoid-wrapper .trapezoid {
  position: absolute;
  left: 0;
  top: 0;
}
/* line 181, ../../sass/summit/index.scss */
#top .sign-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  width: 180px;
}
/* line 191, ../../sass/summit/index.scss */
#top .sign-button:hover .trapezoid path {
  fill: #ffeb32;
}
/* line 195, ../../sass/summit/index.scss */
#top .sign-button .trapezoid {
  position: absolute;
}
/* line 198, ../../sass/summit/index.scss */
#top .sign-button .text {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 10px;
  font-size: 20px;
  text-align: right;
}
/* line 207, ../../sass/summit/index.scss */
#top .sign-button .text .zh {
  font-weight: bold;
}
/* line 213, ../../sass/summit/index.scss */
#top .fade-black {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  background: linear-gradient(to top, black, rgba(58, 65, 104, 0.23), transparent);
}

/* line 222, ../../sass/summit/index.scss */
#about {
  position: relative;
  height: 100vh;
  color: #fff;
}
/* line 229, ../../sass/summit/index.scss */
#about .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}
/* line 238, ../../sass/summit/index.scss */
#about .black-mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  opacity: 0.7;
  z-index: -1;
}

/*full width five column*/
/* line 252, ../../sass/summit/index.scss */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

/* line 261, ../../sass/summit/index.scss */
.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  /* line 266, ../../sass/summit/index.scss */
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  /* line 272, ../../sass/summit/index.scss */
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  /* line 278, ../../sass/summit/index.scss */
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
/* line 283, ../../sass/summit/index.scss */
#five {
  padding: 50px 10vw;
}
/* line 286, ../../sass/summit/index.scss */
#five .title {
  margin-bottom: 30px;
  color: #fff;
}
/* line 291, ../../sass/summit/index.scss */
#five .activities-container .activity {
  text-align: center;
  padding: 0 30px;
}
/* line 296, ../../sass/summit/index.scss */
#five .activities-container .activity:hover .image-wrapper img.active {
  opacity: 1;
}
/* line 299, ../../sass/summit/index.scss */
#five .activities-container .activity:hover .title-wrapper {
  opacity: 1;
}
/* line 303, ../../sass/summit/index.scss */
#five .activities-container .activity .image-wrapper {
  position: relative;
}
/* line 306, ../../sass/summit/index.scss */
#five .activities-container .activity .image-wrapper img {
  width: 100%;
  animation: spin 15s linear infinite;
}
/* line 310, ../../sass/summit/index.scss */
#five .activities-container .activity .image-wrapper img.active {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity .3s ease;
}
/* line 319, ../../sass/summit/index.scss */
#five .activities-container .activity .title-wrapper {
  margin-top: 30px;
  display: inline-block;
  text-align: left;
  color: #fff;
  font-size: 24px;
  opacity: 0;
  transition: opacity .3s ease;
}
/* line 328, ../../sass/summit/index.scss */
#five .activities-container .activity .title-wrapper .zh {
  font-weight: bold;
}
/* line 331, ../../sass/summit/index.scss */
#five .activities-container .activity .title-wrapper .en {
  font-style: italic;
  font-weight: 100;
}
/* line 338, ../../sass/summit/index.scss */
#five .descriptions-container {
  position: relative;
  height: 100px;
  margin-top: 50px;
}
/* line 343, ../../sass/summit/index.scss */
#five .descriptions-container .description {
  position: absolute;
  width: 80%;
  left: 0;
  right: 10%;
  margin: 0 auto;
  color: #fff;
  opacity: 0;
  transition: all .5s ease;
}
/* line 353, ../../sass/summit/index.scss */
#five .descriptions-container .description.active {
  opacity: 1;
  right: 0;
}

/* line 361, ../../sass/summit/index.scss */
#attend {
  padding: 50px 10vw;
  color: #fff;
}
/* line 366, ../../sass/summit/index.scss */
#attend #schedule {
  text-align: center;
}
/* line 369, ../../sass/summit/index.scss */
#attend #schedule .grid {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 385, ../../sass/summit/index.scss */
#attend .map-container {
  position: relative;
  height: 0;
  padding-bottom: 75%;
}
/* line 390, ../../sass/summit/index.scss */
#attend .map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
