@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

@font-face {
	font-family: Futura-Medium;
	src: url("../../font/Futura-Medium.ttf");
}

* {
	font-family: 'Futura-Medium', 'Noto Sans TC', Sans-Serif;
}

a, h1, h2, p, th, td, caption, button {
	color: #fff;
}

body {
	background-color: #000;
	margin: 0;
	padding: 0;
}

p {
	font-weight: 100;
}

.intro h1 {
	margin: 0 auto;
}

.intro p {
	margin-top: 20px;
}

h2 {
	margin-bottom: 30px;
}

button {
	background-color: transparent;
	border: solid 1px #fff;
	padding: 10px 14px;
	font-size: 16px;
}

button:focus {
	outline: 0;
}

table {
	text-align: center;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #fff;
	font-weight: normal;
}

.horizontal-middle {
	text-align: center;
}

.vertical-middle {
	/* Check if parent element's position is relative */
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* 活動簡介/領域嘉賓 */
section .container {
	width: 100vw;
}

header {
	position: relative;
	width: 100vw;
	z-index: -2;
}

header#night {
	background: url("../../img/summit/main_activities/header/challengers-night.jpg") center center fixed;
	background-size: cover;
}

header#track {
	background: url("../../img/summit/main_activities/header/main-tracks.jpg") center center fixed;
	background-size: cover;
}

header#opening {
	background: url("../../img/summit/main_activities/header/opening-keynote.jpg") center center fixed;
	background-size: cover;
}

header#pitch {
	background: url("../../img/summit/main_activities/header/team-pitch.jpg") center center fixed;
	background-size: cover;
}

header#salon {
	background: url("../../img/summit/main_activities/header/topics-salon.jpg") center center fixed;
	background-size: cover;
}

header > div {
	float: left;
}

header::after {
	position: absolute;
	top: 0;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: -2;
	clear: left;
}

.act-logo {
	/* 活動大圖置中 */
	position: relative;
}

.logo-highlight {
	opacity: 0;
	animation: shine 5s linear 1s infinite;
}

@-webkit-keyframes shine {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes shine {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes shine {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.en-title {
	font-style: italic;
}

/* 介紹文字區塊 */
.intro {
	position: relative;
	background-color: transparent;
	line-height: 30px;
}

.desc {
	position: relative;
	width: 100vw;
}

/* 介紹文字 */
.intro-text {
	width: 80%;
	margin-left: 10%;
}

.desc-text {
	width: 80%;
    margin-left: 10%;
    text-align: justify;
    line-height: 32px;
}

.desc p {
	margin-top: 40px;
	margin-bottom: 10px;
}

.talk .desc img {
	width: 80%;
	margin-left: 10%;
}

#topics-salon .desc-text {
	line-height: 40px;
}

/* 領域嘉賓區塊 */
.guest {
	width: 70%;
	height: 100%;
	margin-left: 15%;
}

/* 領域嘉賓們 */
.speaker {
	background-color: #000;
}

.speaker-photo {
	max-width: 100%;
	width: 100%;
	height: auto;
}

.expert-type {
	font-size: 12px;
}

.speech,
.speaker-ident {
	font-size: 16px;
}

.speaker-name {
	font-weight: 400;
}

/* 領域嘉賓title */
.speaker-intro {
	width: 100%;
	padding: 20px;
}

/* 選取主題論壇 */
#talk-select {
	width: 100vw;
	height: 160px;
	background-color: #333;
}

#talk-buttons {
	height: 100%;
}

#talk-buttons button {
	border: none;
}

#talk1 .container {
	background: url("../../img/summit/main_activities/main-tracks/track_smart.jpg") center center fixed;
	background-size: cover;
}

#talk2 .container {
	background: url("../../img/summit/main_activities/main-tracks/track_health.jpg") center center fixed;
	background-size: cover;
}

#talk3 .container {
	background: url("../../img/summit/main_activities/main-tracks/track_environment.jpg") center center fixed;
	background-size: cover;
}

#talk4 .container {
	background: url("../../img/summit/main_activities/main-tracks/track_society.jpg") center center fixed;
	background-size: cover;
}

#opening-keynote .container {
	background: url("../../img/summit/main_activities/opening-keynote/speakers.jpg") center center fixed;
	background-size: cover;
}

/* 挑戰者之夜 表格 */
#night-schedule caption,
#night-schedule th,
#night-schedule td {
	text-align: center;
}

/* 十強團隊 Pitch 團隊介紹 */
.team {
	position: relative;
}

.teamname {
	margin-left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#et68 {
	background: url("../../img/20teams/et_68/cover.jpg") center center;
	background-size: cover;
}

#et72 {
	background: url("../../img/20teams/et_72/cover.jpg") center center;
	background-size: cover;
}

#fa56 {
	background: url("../../img/20teams/fa_56/cover.jpg") center center;
	background-size: cover;
}

#fa64 {
	background: url("../../img/20teams/fa_64/cover.jpg") center center;
	background-size: cover;
}

#hc52 {
	background: url("../../img/20teams/hc_52/cover.jpg") center center;
	background-size: cover;
}

#hc62 {
	background: url("../../img/20teams/hc_62/cover.jpg") center center;
	background-size: cover;
}

#hc69 {
	background: url("../../img/20teams/hc_69/cover.jpg") center center;
	background-size: cover;
}

#sl05 {
	background: url("../../img/20teams/sl_05/cover.jpg") center center;
	background-size: cover;
}

#sl55 {
	background: url("../../img/20teams/sl_55/cover.jpg") center center;
	background-size: cover;
}

#sl66 {
	background: url("../../img/20teams/sl_66/cover.jpg") center center;
	background-size: cover;
}

/* RWD Design */
@media screen and ( max-width: 768px ) {
	header {
		height: 140vh;
	}

	div.container {
		padding: 30px 0;
	}

	.act-logo {
		width: 100%;
		height: 30%;
	}

	/* 五大活動發光大圖 */
	.act-logo img {
		width: 40%;
		margin-left: 30%;
		height: auto;
	}

	/* 介紹文字區塊 */
	.intro {
		width: 100%;
		margin-top: -10%;
		height: 70%;
	}

	.desc-text {
		padding: 20px;
	}

	#night-schedule .desc {
		height: 80vh;
	}

	#teams-pitch .desc {
		height: 200vh;
	}

	#topics-salon .desc {
		height: 160vh;
	}

	#opening-keynote .desc {
		height: 180vh;
	}

	.team {
		width: 100%;
		height: 10%;
	}

	.team::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
	}

	.title {
		font-size: 32px;
	}

	#talk-buttons {
		width: 100%;
	}

	#talk-buttons button {
		width: 50%;
		height: 50%;
		float: left;
	}

	#talk-buttons::after {
		clear: both;
	}

	.talk-btn-icon {
		display: none;
	}

	.speakers-title {
		position: relative;
		text-align: center;
		margin-bottom: 28px;
	}

	#night-schedule table {
		width: 80%;
		margin-left: 10%;
		font-size: 16px;
	}

	#night-schedule th,
	#night-schedule td {
		padding: 10px 20px;
	}
}

@media screen and ( min-width: 769px ) {
	header,
	section .container {
		height: 100vh;
	}

	.act-logo {
		width: 30%;
		margin-left: 10%;
		height: 100%;
	}

	/* 五大活動發光大圖 */
	.act-logo img {
		width: 80%;
		margin-left: 10%;
		height: auto;
	}

	/* 介紹文字區塊 */
	.intro {
		width: 60%;
		height: 100%;
	}

	.desc {
		height: 140vh;
	}

	.talk .desc img {
		position: absolute;
		opacity: 0.2;
	}

	.desc-text {
		/* Check if parent element's position is relative */
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.desc-text p {
		width: 66%;
		margin-left: 17%;
	}

	#topics-salon .desc {
		height: 70vh;
	}

	#teams-pitch .desc {
		height: 25vw;
	}

	#opening-keynote .desc {
		height: 80vh;
	}

	#teams-pitch .desc::after {
		clear: left;
	}

	.team {
		width: 20%;
		height: 50%;
		float: left;
	}

	.team::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		opacity: 0;
		-webkit-transition: all 1.5s;
		-moz-transition: all 1.5s;
		transition: all 1.5s;
	}

	.team:hover::after {
		opacity: 1;
	}

	.teamname {
		opacity: 0;
		z-index: 1;
		-webkit-transition: all 1.5s;
		-moz-transition: all 1.5s;
		transition: all 1.5s;
	}

	.team:hover .teamname {
		opacity: 1;
	}

	.title {
		font-size: 40px;
	}

	/* 領域嘉賓們 */
	.guest {
		display: -webkit-flex;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}

	.speaker {
		width: 24%;
		height: 70%;
		margin: 0 3px;
	}

	/* 選取主題論壇的按鈕 */
	#talk-buttons {
		width: 80%;
		margin-left: 10%;

		display: -webkit-flex;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	#talk-buttons button {
		width: 25%;
		text-align: center;
	}

	.talk-btn-text {
		display: none;
	}

	.talk-btn-icon {
		width: 40px;
		height: 40px;
	}

	/* 選取主題按鈕hover */
	#talk-buttons button:hover .talk-btn-icon {
		animation: spin 2s linear infinite;
	}

	@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(359deg);
		}
	}

	@-moz-keyframes spin {
		0% {
			-moz-transform: rotate(0deg);
		}
		100% {
			-moz-transform: rotate(359deg);
		}
	}

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(359deg);
		}
	}

	#talk-buttons button:hover::after {
		color: #fff;
		display: inline-block;
	}

	#btn-talk1:hover::after {
		content: '智慧生活';
	}

	#btn-talk2:hover::after {
		content: '健康樂活';
	}

	#btn-talk3:hover::after {
		content: '永續經濟';
	}

	#btn-talk4:hover::after {
		content: '社會創業';
	}

	.speakers-title {
		position: absolute;
		left: 27%;
		margin-top: 20px;
	}

	#night-schedule table {
		margin-left: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-size: 22px;
	}

	#night-schedule th, td {
		padding: 20px;
	}

	.teamname {
		font-size: 14px;
	}
}

@media screen and ( min-width: 980px ) {
	.title {
		font-size: 52px;
	}

	#night-schedule th, td {
		padding: 30px 20px;
	}

	.teamname {
		font-size: 16px;
	}
}
