@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

@font-face {
	font-family: Futura-Medium;
	src: url("../../font/Futura-Medium.ttf");
}

* {
	font-family: 'Futura-Medium', 'Noto Sans TC', Sans-Serif;
	color: #fff;
}

body {
	background-color: #000;
	margin: 0;
	padding: 0;
}

p {
	font-weight: 100;
}

.intro h1 {
	margin: 0 auto;
}

.intro p {
	margin-top: 20px;
}

h2 {
	margin-bottom: 30px;
}

button {
	background-color: transparent;
	border: solid 1px #fff;
	padding: 10px 14px;
	font-size: 16px;
}

button:focus {
	outline: 0;
}

table {
	text-align: center;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #fff;
	font-weight: normal;
}

.horizontal-middle {
	text-align: center;
}

.vertical-middle {
	/* Check if parent element's position is relative */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* 活動簡介/領域嘉賓 */
section .container {
	width: 100vw;
}

header {
	position: relative;
	width: 100vw;
	z-index: -2;
}

header#night {
	background: url("../../img/summit/main_activities/header/challengers-night.jpg") center center fixed;
	background-size: cover;
}

header#track {
	background: url("../../img/summit/main_activities/header/main-tracks.jpg") center center fixed;
	background-size: cover;
}

header#opening {
	background: url("../../img/summit/main_activities/header/opening-keynote.jpg") center center fixed;
	background-size: cover;
}

header#pitch {
	background: url("../../img/summit/main_activities/header/team-pitch.jpg") center center fixed;
	background-size: cover;
}

header#salon {
	background: url("../../img/summit/main_activities/header/topics-salon.jpg") center center fixed;
	background-size: cover;
}

header > div {
	float: left;
}

header::after {
	position: absolute;
	top: 0;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: -2;
	clear: left;
}

.act-logo {
	position: relative;
}

.logo-highlight {
	opacity: 0;
	animation: shine 5s linear 1s infinite;
}

@keyframes shine {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.en-title {
	font-style: italic;
}

/* 介紹文字區塊 */
.intro {
	position: relative;
	background-color: transparent;
	line-height: 30px;
}

.desc {
	position: relative;
	width: 100vw;
}

/* 介紹文字 */
.intro-text {
	width: 80%;
	margin-left: 10%;
}

.desc-text {
	width: 60%;
    margin-left: 20%;
    text-align: justify;
}

.desc p {
	margin-top: 20px;
}

#topics-salon .desc-text {
	line-height: 40px;
}

/* 領域嘉賓區塊 */
.guest {
	width: 70%;
	height: 100%;
	margin-left: 15%;
}

/* 領域嘉賓們 */
.expert {
	margin: 0 20px;
}

.expert-photo {
	width: 100%;
	height: auto;
}

/* 領域嘉賓title */
.expert-intro {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
}

/* 選取主題論壇 */
#talk-select {
	width: 100vw;
	height: 160px;
	background-color: #333;
}

#talk-buttons {
	height: 100%;

	display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#talk1 .container {
	background: url("../../img/summit/main_activities/main-tracks/track_smart.jpg") center center fixed;
	background-size: cover;
}

#talk2 .container {
	background: url("../../img/summit/main_activities/main-tracks/track_health.jpg") center center fixed;
	background-size: cover;
}

#talk3 .container {
	background: url("../../img/summit/main_activities/main-tracks/track_environment.jpg") center center fixed;
	background-size: cover;
}

#talk4 .container {
	background: url("../../img/summit/main_activities/main-tracks/track_society.jpg") center center fixed;
	background-size: cover;
}

/* 挑戰者之夜 表格 */
#night-schedule caption,
#night-schedule th,
#night-schedule td {
	text-align: center;
}

/* 十強團隊 Pitch 團隊介紹 */
.team {
	position: relative;
}

.teamname {
	margin-left: 50%;
	transform: translate(-50%, -50%);
}

#et68 {
	background: url("../../img/20teams/et_68/cover.jpg") center center;
	background-size: cover;
}

#et72 {
	background: url("../../img/20teams/et_72/cover.jpg") center center;
	background-size: cover;
}

#fa56 {
	background: url("../../img/20teams/fa_56/cover.jpg") center center;
	background-size: cover;
}

#fa64 {
	background: url("../../img/20teams/fa_64/cover.jpg") center center;
	background-size: cover;
}

#hc52 {
	background: url("../../img/20teams/hc_52/cover.jpg") center center;
	background-size: cover;
}

#hc62 {
	background: url("../../img/20teams/hc_62/cover.jpg") center center;
	background-size: cover;
}

#hc69 {
	background: url("../../img/20teams/hc_69/cover.jpg") center center;
	background-size: cover;
}

#sl05 {
	background: url("../../img/20teams/sl_05/cover.jpg") center center;
	background-size: cover;
}

#sl55 {
	background: url("../../img/20teams/sl_55/cover.jpg") center center;
	background-size: cover;
}

#sl66 {
	background: url("../../img/20teams/sl_66/cover.jpg") center center;
	background-size: cover;
}

/* RWD Design */
@media( max-width: 767px ) {
	header {
		height: 110vh;
	}

	div.container {
		padding: 30px 0;
	}

	.act-logo {
		width: 100%;
		height: 50%;
	}

	/* 五大活動發光大圖 */
	.act-logo img {
		width: 40%;
		margin-left: 30%;
		height: auto;
	}

	/* 介紹文字區塊 */
	.intro {
		width: 100%;
		height: 40%;
	}

	.desc {
		height: 170vh;
	}

	#night-schedule .desc {
		height: 80vh;
	}

	#teams-pitch .desc {
		height: 200vh;
	}

	#topics-salon .desc {
		height: 160vh;
	}

	#opening-keynote .desc {
		height: 180vh;
	}

	.team {
		width: 100%;
		height: 10%;
	}

	.team::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
	}

	.title {
		font-size: 32px;
	}

	/* 選取主題論壇的按鈕 */
	#talk-buttons {
		width: 100%;
	}

	#night-schedule table {
		width: 80%;
		margin-left: 10%;
		font-size: 16px;
	}

	#night-schedule th,
	#night-schedule td {
		padding: 10px 20px;
	}
}

@media( min-width: 768px ) {
	header,
	section .container {
		height: 100vh;
	}

	.act-logo {
		width: 40%;
		height: 100%;
	}

	/* 五大活動發光大圖 */
	.act-logo img {
		width: 80%;
		margin-left: 10%;
		height: auto;
	}

	/* 介紹文字區塊 */
	.intro {
		width: 60%;
		height: 100%;
	}

	.desc {
		height: 100vh;
	}

	#topics-salon .desc {
		height: 70vh;
	}

	#teams-pitch .desc {
		height: 25vw;
	}

	#opening-keynote .desc {
		height: 80vh;
	}

	#teams-pitch .desc::after {
		clear: left;
	}

	.team {
		width: 20%;
		height: 50%;
		float: left;
	}

	.team::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		opacity: 0;
		-webkit-transition: all 1.5s;
		-moz-transition: all 1.5s;
		transition: all 1.5s;
	}

	.team:hover::after {
		opacity: 1;
	}

	.teamname {
		opacity: 0;
		z-index: 1;
		-webkit-transition: all 1.5s;
		-moz-transition: all 1.5s;
		transition: all 1.5s;
	}

	.team:hover .teamname {
		opacity: 1;
	}

	.title {
		font-size: 40px;
	}

	/* 領域嘉賓們 */
	.guest {
		display: -webkit-flex;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* 選取主題論壇的按鈕 */
	#talk-buttons {
		width: 60%;
		margin-left: 20%;
	}

	#night-schedule table {
		margin-left: 50%;
		transform: translate(-50%, -50%);
		font-size: 22px;
	}

	#night-schedule th, td {
		padding: 20px;
	}

	.teamname {
		font-size: 14px;
	}
}

@media ( min-width: 980px ) {
	.title {
		font-size: 52px;
	}

	/* 選取主題論壇的按鈕 */
	#talk-buttons {
		width: 40%;
		margin-left: 30%;
	}

	.expert {
		position: relative;
	}

	.expert-intro {
		position: absolute;
		bottom: 0;
	}

	#night-schedule th, td {
		padding: 30px 20px;
	}

	.teamname {
		font-size: 16px;
	}
}
