# Custom 403 Forbidden Page
ErrorDocument 403 /error/403.html
# Custom 404 Not Found Page
ErrorDocument 404 /error/404.html

# secure htaccess file
# order allow,deny
# deny from all

<Files "/errordoc/403.html">
    <If "-z %{ENV:REDIRECT_STATUS}">
        RedirectMatch 404 ^/error/403.html$
    </If>
</Files>
<Files "/errordoc/404.html">
    <If "-z %{ENV:REDIRECT_STATUS}">
        RedirectMatch 404 ^/error/404.html$
    </If>
</Files>
