body{
    background-color: #b2b2b2;
}

.circular-img{
	border-radius: 50%;
	width:100%;
}
.textCenter{
	text-align: center;
	font-size:15px;
}

/*parallelogram-button*/
.parallelogram-button {
    -webkit-transform: skew(-10deg);
            transform: skew(-10deg);
    padding: 3px 10px;
    font-size: 34px;
    font-weight: bold;
    text-decoration: none;
}
.parallelogram-button.yellow{
    background-color: #ffeb32;
    color: #000;
}
.parallelogram-button.black{
    background-color: #000;
    color: #ffeb32;
}
.parallelogram-button:hover{
    color: #FFF;
    background-color: #142598;
    -webkit-animation: none;
            animation: none;
}
.skew-fix{
    display:inline-block;
    -webkit-transform: skew(10deg);
            transform: skew(10deg);
}
.top-content{
    text-align: justify;
}