/*
#origin{
    background-color: rgba(255, 235, 50, 0.7);
    padding: 20px;
    position: relative;
    margin-bottom: 50px;
    border: #ffeb32 solid 2px;
}
#origin .background-rotate{
    position: absolute;
    z-index: -1;
    left: -5px;
    top: -5px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 235, 50, 0.5);
    transform: rotate(5deg);
    border: #ffeb32 solid 2px;
}*/

@media screen and (min-width: 768px){
    body{
        background-color: #ffeb32;
    }
    .wrapper{
        margin: 100px;
        background-color: #FFF;
    }
}
.one{
    padding-top: 50px;
}
.one p{
    font-size: 20px;
}

.three{
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.little-triangle{
    position: absolute;
    border-style: solid;
    border-width: 20px 0px 20px 30px;
    border-color: transparent transparent transparent rgba(255, 235, 50, 0.6);
    -webkit-animation-name: right;
            animation-name: right; 
    -webkit-animation-timing-function: linear; 
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.little-triangle:nth-child(1){
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    top: 280px;
}
.little-triangle:nth-child(2){
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    top: 50px;
}
.little-triangle:nth-child(3){
    -webkit-animation-duration: 9s;
            animation-duration: 9s;
    top: 110px;
}
.little-triangle:nth-child(4){
    -webkit-animation-duration: 13s;
            animation-duration: 13s;
    top: 180px;
}
.little-triangle:nth-child(5){
    -webkit-animation-duration: 9.5s;
            animation-duration: 9.5s;
    top: 200px;
}
.little-triangle:nth-child(6){
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    top: 260px;
}
.little-triangle:nth-child(7){
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    top: 230px;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}
.little-triangle:nth-child(8){
    -webkit-animation-duration: 9.5s;
            animation-duration: 9.5s;
    top: 70px;
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
}
.little-triangle:nth-child(9){
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    top: 120px;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
}
.little-triangle:nth-child(10){
    -webkit-animation-duration: 11.5s;
            animation-duration: 11.5s;
    top: 170px;
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
}
@-webkit-keyframes right{
    from{
        -webkit-transform: translateX(-10vw);
                transform: translateX(-10vw);
    }
    to{
        -webkit-transform: translateX(110vw);
                transform: translateX(110vw);
    }
}
@keyframes right{
    from{
        -webkit-transform: translateX(-10vw);
                transform: translateX(-10vw);
    }
    to{
        -webkit-transform: translateX(110vw);
                transform: translateX(110vw);
    }
}
.triangle-right{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 250px 0px 250px 600px;
    border-color: transparent transparent transparent #ffeb32;
/*    float: left;*/
    position: absolute;
}
.triangle-right > div{
    text-align: center;
    width: 250px;
    position: absolute;
    left: -500px;
    top: -50px;
}
.parallelogram{
    width: 300px;
    height: 100px;
    -webkit-transform: skew(-20deg);
            transform: skew(-20deg);
    background-color: #ffeb32;
    position: absolute;
    top: 400px;
    right: -20px;
    line-height: 100px;
    text-align: center;
}
.parallelogram .skew-fix{
    -webkit-transform: skew(20deg);
            transform: skew(20deg);
}
.parallelogram p{
    font-size: 26px;
    font-weight: bold;
}
.four{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.four > div{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 50px 80px;
    text-align: justify;
}
.four .circle{
    border-radius: 50%;
    background-color: #ffeb32;
    width: 100px;
    height: 100px;
    font-size: 18px;
}
.five{
    text-align: center;
}
.six{
    background-color: #333;
    padding: 20px;
}
.six p{
    font-size: 30px;
    font-weight: bold;
    color: #ffeb32;
    text-align: center;
    margin: 0px;
}