body{
    background-color: #b2b2b2;
}
.content {
    background-color: white;

}
.padding {
    padding-left: 80px;
    padding-right: 80px;
}
.container img{
    border-radius: 10px 10px 10px 10px ;
}