body{
    background-color: #b2b2b2;
}
.margin-25{
    margin-top: 25px;
    margin-bottom: 25px;
}
@media screen and (min-width: 768px){
    .ntu{
        padding: 50px;
    }
}

.block{
    margin-top: 10px;
    margin-bottom: 10px;
}
.block .image{
    box-shadow: 1px 1px 5px #666;
    background-color: #FFF;
}
.block .image img{
    width: 100%;
    height: auto;
}
p{
    text-align: justify;
}
