
.textCenter {
    text-align: center;
}
.textRight {
    text-align: right;
}
.textLeft {
    text-align: left;
}
.parallelogram-button {
    transform: skew(-10deg);
    padding: 3px 10px;
    font-size: 34px;
    font-weight: bold;
    text-decoration: none;
    cursor:pointer;
}
.parallelogram-button.yellow{
    background-color: #ffeb32;
    color: #000;
}
.parallelogram-button.black{
    background-color: #000;
    color: #ffeb32;
}
.parallelogram-button:hover{
    color: #FFF;
    background-color: #142598;
    animation: none;
    outline: solid #FFF 2px;
}
.toggle-button.active{
    color: #FFF;
    background-color: #142598;
    outline: #fff solid 2px;
}
.skew-fix{
    display:inline-block;
    transform: skew(10deg);
}
.button{
    background-color:#B2B2B2;
    font-size:25px;
    padding:5px;.
    width:100%;
    border:2px solid black;
    border-radius: 10px;
}
