body{
	background-color: #b2b2b2;
}

#single_team .section{
	position: relative;
	padding: 0;
}
#single_team .row-custom{
	position: relative;
	/*height: 100vh;*/
}
#single_team .blur-background{
	position: absolute;
	width: 100%;
	overflow: hidden;
	filter: blur(5px) brightness(70%);
}
#single_team .image-wrapper{
	height: 100vh;
	position: relative; 
	padding: 0;
}
@media screen and (max-width: 768px){
	#single_team .image-wrapper{
		height: auto;
	}
}
#single_team .big-image{
	width: 100%;
}
#single_team .sidebar{
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position: relative;
}

#single_team #top #logo{
	width: 50%;
	display: block;
	margin: 0 auto;
	padding: 50px 0;
	border-radius: 50%;
}
#single_team #top #team_name{
	text-align: center;
	font-size: 50px;
	color: #ffeb32;
	font-family: 'Jaapokki-Regular', 'Noto Sans TC';
	margin: 30px 0 50px;
}
#single_team #top #slogan{
	text-align: center;
	padding: 0 60px;
	margin-bottom: 30px;
	color: #fff;
}
#single_team #top #field_img{
	position: absolute;
	bottom: 30px;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 40%;
}
#single_team .fade-color{
	position: absolute;
	right: 0;
	top: 0;
	height: 100vh;
	width: 100%;
}
#single_team #top .fade-color.sl{
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 164, 180, 0), rgba(255, 164, 180,1));
}
#single_team #top .fade-color.hc{
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(244, 37, 52, 0), rgba(244, 37, 52, 0.9));
}
#single_team #top .fade-color.et{
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 175, 65, 0), rgba(0, 175, 65, 0.9));
}
#single_team #top .fade-color.sy{
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 92, 185, 0), rgba(0, 92, 185, 0.9));
}
#single_team #top .fade-color.fa{
	background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(187, 119, 38, 0), rgba(187, 119, 38, 0.9));
}
#single_team #top #challenge_definition{
	position: absolute;
	width: 30%;
	right: 50px;
	bottom: 30px;
	color: #fff;
	font-size: 30px;
	text-align: justify;
}

#single_team .article-title{
	text-align: center;
	font-size: 50px;
	color: #ffeb32;
	font-family: 'Noto Sans TC';
	margin: 30px;
}
#single_team article{
	color: #fff;
	padding: 40px;
	font-size: 18px;
	text-align: justify;
	line-height: 30px;
}

#single_team .team-title{
	text-align: center;
	font-size: 50px;
	color: #ffeb32;
	font-family: 'Jaapokki-Regular', 'Noto Sans TC';
	margin: 40px 0;
}
#single_team .one-member{
	width: 15%;
	margin: 0 10px;
}
#single_team .one-member img{
	width: 100%;
	border-radius: 50%;
	margin-bottom: 20px;
}
#single_team .one-member p{
	color: #fff;
	text-align: center;
	margin-bottom: 0px;
}
#single_team #team_introduction{
	color: #fff;
	text-align: center;
	width: 60%;
	font-size: 24px;
	margin: 50px auto 100px;
}
#single_team #self_question{
	text-align: center;
	font-size: 40px;
	color: #ffeb32;
	font-family: 'Jaapokki-Regular', 'Noto Sans TC';
}
#single_team #self_answer{
	width: 60%;
	color: #fff;
	text-align: center;
	margin: 0 auto;
}
@media screen and (max-width: 768px){
	#single_team #self_answer{
		width: 100%;
	}
}
#single_team .one-link{
	color: #ffeb32;
	font-size: 40px;
	margin: 50px;
}
