body{
    overflow-x: hidden;
}
svg {
	position: absolute;
	top: 0;
	display: block;
  z-index: -1;
}
svg path {
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 4px;
}

/* Anchor */
#div-anchor {
  position: fixed;
  top: 120px;
  right: 0;
  z-index: 10;
  text-align: center;
}
#div-anchor ul {
  margin: 0;
}
.anchor {
  margin: 15px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  list-style-type: none;
  z-index: 11;
  cursor: pointer;
}
#to-top {
  margin: 15px;
  width: 12px;
  list-style: none;
  cursor: pointer;
  color: #fff;
}
#anchor-desc-stage1,
#anchor-desc-stage2,
#anchor-desc-stage3,
#anchor-desc-stage4,
#anchor-desc-stage5 {
  display: none;
}
#anchor-stage1:hover #anchor-desc-stage1,
#anchor-stage2:hover #anchor-desc-stage2,
#anchor-stage3:hover #anchor-desc-stage3,
#anchor-stage4:hover #anchor-desc-stage4,
#anchor-stage5:hover #anchor-desc-stage5 {
  display: block;
  position: absolute;
  right: 47px;
  width: 136px;
  padding: 10px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}
#description > div {
  text-align: center;
}

/* Contents Divs */
.stage {
  width: 100%;
  position: relative;
}

/* Stage BG Imgs */
.bg {
  height: auto;
}
#stage1 .bg {
  width: 50%;
  margin-top: 7%;
}
#stage2 .bg {
  width: 100%;
  z-index: 2;
}
#stage3 .bg {
  width: 110%;
  margin-top: 7%;
  margin-left: 6%;
}
#stage4 .bg {
  width: 50%;
  margin-top: 12%;
  margin-left: 50%;
}
#stage5 .bg {
  width: 85%;
  margin-top: 22%;
  margin-left: -24%;
}
#lightning {
  position: absolute;
  top: 0;
  left: 9%;
  width: 54%;
  z-index: -1;
}

#phase2yellow {
  position: absolute;
  top: 10%;
  left: -5%;
  width: 40%;
}

/* Titles */
.title {
  position: absolute;
  width: 16%;
  z-index: 1;
}
#title1 {
  top: 13%;
  right: 15%;
}
#title2 {
  top: 15%;
  left: 13%;
}
#title3 {
  top: 0;
  right: 17%;
}
#title4 {
  top: 8%;
  left: 18%;
}
#title5 {
  top: 56%;
  left: 15%;
}

/* Content */
.content {
  position: absolute;
}
#content1 {
  width: 26%;
  top: 40%;
  right: 15%;
}
#content2-1 {
  width: 40%;
  top: 7%;
  left: 38%;
}
#content2-2 {
  width: 22%;
  top: 37%;
  left: 36%;
}
#content3 {
  width: 30%;
  top: 34%;
  right: 6%;
}
#content4-1 {
  width: 25%;
  top: 46%;
  left: 25%;
}
#content4-2 {
  width: 34%;
  top: 78%;
  left: 19%;
}
#content5-1 {
  width: 20%;
  top: 8%;
  left: 14%;
}
#content5-2 {
  width: 24%;
  top: 34%;
  right: 12%;
}

/* SVG */
#flow-base {
  stroke: #1a1a1a;
}
#flow {
  stroke: #ffe534;
}