body{
    overflow-x: hidden;
}
svg {
	position: absolute;
	top: 0;
	display: block;
}

/* Anchor */
#div-anchor {
  position: fixed;
  top: 120px;
  right: 0;
  z-index: 10;
  text-align: center;
}
#div-anchor ul {
  margin: 0;
}
.anchor {
  margin: 15px;
  width: 12px;
  height: 12px;
  background-color: #ffeb32;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  list-style-type: none;
  z-index: 11;
  cursor: pointer;
}
#to-top {
  margin: 15px;
  width: 12px;
  list-style: none;
  cursor: pointer;
  color: #fff;
}
#anchor-desc-stage1,
#anchor-desc-stage2,
#anchor-desc-stage3,
#anchor-desc-stage4,
#anchor-desc-stage5 {
  display: none;
}
#anchor-stage1:hover #anchor-desc-stage1,
#anchor-stage2:hover #anchor-desc-stage2,
#anchor-stage3:hover #anchor-desc-stage3,
#anchor-stage4:hover #anchor-desc-stage4,
#anchor-stage5:hover #anchor-desc-stage5 {
  display: block;
  position: absolute;
  right: 47px;
<<<<<<< HEAD
  width: 136px;
  padding: 10px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
=======
  width: 6em;
>>>>>>> dd1456fde5dc50041ae1daa096bd9309d0dee7b9
}
#description > div {
  text-align: center;
}

/* Contents Divs */
.stage {
  width: 100%;
  position: relative;
  background-color: #bbb;
}
.events {
  position: absolute;
  width: 35%;
  padding: 4%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 2;
}
.events p {
  margin: 0;
}
.event {
  margin-top: 10px;
}
.event-stage {
  font-size: 3vw;
}
.event-name {
  font-size: 2vw;
}
.event-date {
  font-size: 1vw;
}
.events a,
.events a:hover {
  color: #333;
  text-decoration: none;
}
#stage1 .events,
#stage3 .events {
  left: -100%;
}
#stage2 .events {
  right: -100%;
}
#stage4 .events,
#stage5 .events {
  right: -100%;
}

/* Content Divs Animations */
.left-animated {
  animation: left-in 600ms ease 0ms 1 forwards;
}
.right-animated-1 {
  animation: right-in-1 600ms ease 0ms 1 forwards;
}
.right-animated-2 {
  animation: right-in-2 600ms ease 0ms 1 forwards;
}
@keyframes left-in {
  from {
    left: -100%;
  }
  to {
    left: 23%;
  }
}
@-webkit-keyframes left-in {
  from {
    left: -100%;
  }
  to {
    left: 23%;
  }
}
@keyframes right-in-1 {
  from {
    right: -100%;
  }
  to {
    right: 34%;
  }
}
@-webkit-keyframes right-in-1 {
  from {
    right: -100%;
  }
  to {
    right: 34%;
  }
}
@keyframes right-in-2 {
  from {
    right: -100%;
  }
  to {
    right: 25%;
  }
}
@-webkit-keyframes right-in-2 {
  from {
    right: -100%;
  }
  to {
    right: 25%;
  }
}

/* Stage BG Imgs */
.bg {
  width: 65%;
  height: auto;
}
#stage1 .bg {
  width: 52%;
  margin-left: 48%;
}
#stage2 .bg {
  margin-left: -20%;
}
#stage3 .bg {
  margin-left: 35%;
}
#stage4 .bg {
  margin-top: 18%;
  margin-left: -10%;
}
#stage5 .bg {
  width: 90%;
}

/* Stage Icon Imgs */
.icon {
  position: absolute;
  width: 35%;
  height: auto;
  z-index: 1;
}
#stage1 .icon {
  left: 12%;
}
#stage2 .icon {
  right: 5%;
}
#stage3 .icon {
  left: 15%;
}
#stage4 .icon {
  right: 5%;
}
#stage5 .icon {
  right: 5%;
}
