<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>臺大創創挑戰賽高峰會 2017 | NTU Challenge Summit 2017</title>
    <meta property="og:image:secure_url" content="../assets/img/summit/cover.png">
    <link rel="shortcut icon" href="../assets/img/logo.ico">
    <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/plugins/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="../assets/css/summit/about.css">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="../assets/plugins/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <div id="sidenav">

    </div>


    <div class="container" id="introduction">
        <div class="row">
            <div class="col-md-offset-7 col-md-5 col-xs-offset-4 col-xs-8">
                <div class="text">
                    <img src="../assets/img/summit/index/principle_quote1.png" class="quote start">
                    <img src="../assets/img/summit/index/principle_quote2.png" class="quote end">
                    鼓勵挑戰者運用創新思維與創業家精神，出面動手解決社會面臨的重要挑戰。
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="title">
                    <h3 class="en">Advisor</h3>
                    <h3 class="zh">指導單位</h3>
                </div>
                <a href="http://www.doed.gov.taipei/GIPDSD/xslGip/xslExport/105001/welcome2015/index.html">
                    <div class="logo-block">
                        <img src="../assets/img/logo/ded.png" alt="">
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <div class="title">
                    <h3 class="en">Organizer</h3>
                    <h3 class="zh">主辦單位</h3>
                </div>
                <a href="http://www.ntu.edu.tw/">
                    <div class="logo-block">
                        <img src="../assets/img/logo/ntu_text.png" alt="">
                    </div>
                </a>   
            </div>
        </div>
    </div>

    <div class="container" id="co_organizer">
        <div class="title">
            <h3 class="en">Co-organizer</h3>
            <h3 class="zh">承辦單位</h3>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-5">
                <a href="http://dschool.ntu.edu.tw/">
                    <div class="logo-block">
                        <img src="../assets/img/logo/dschool.png" alt="">
                    </div>
                </a>
            </div>
            <div class="col-sm-7">
                <h6>創新設計學院 – 教學創新的實驗場</h6>
                <p>台大創新設計學院成立於 2015年，在創新創業之火燒抵台灣之後，作為回應的手段，台大將跨領域合作、解決真實議題與動手實作三個重要的元素匯集，我們不只單純期待創新公式的化學反應，更在其中加入了設計思考作為催化劑，搭配密集式課程、專題式課程、零學分工作坊等教學手段，我們嘗試在這個迷人的實驗室，發展下一個世代的大學模式。<br><br>
 
                於此同時，突破課程及學術的框架，於2016年首次嘗試與創創中心合作，以挑戰賽的形式落實創新教育、創業教育、團隊養成及創業加速等打造社會創新基底的教育新型態。我們的目標，是培養未來領導台灣各個領域向前的人才，不說空話、不過度包裝、解決問題不忘以人為本，捲起袖子不怕錯了再試！ 回歸教育的本質，予人探索世界的勇氣和發現自己的可能，我們宣誓，這裡將永遠擁抱各種可能，並率先支持行動發生。</p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-5">
                <a href="http://tec.ntu.edu.tw/">
                    <div class="logo-block">
                        <img src="../assets/img/logo/tec.jpg" alt="">
                    </div>
                </a>   
            </div>
            <div class="col-sm-7">
                <h6>臺大創創中心 － 落實創業教育、輔導與介接</h6>
                <p>臺大校園深蘊創新能量，能量迸發後的塑型、介接與落地，則是創創中心推行創業家精神的核心任務。我們相信，從動手創新到投身創業的距離，需要不同的元素與環境支撐，在思考使用者需求的同時兼顧團隊自給自足的最低門檻。<br><br>

                創創中心以臺大車庫作為團隊輔導基地，於 2013 年至今提供近 100 個年輕初創團隊進駐。時下創新創業方法論逐漸普及，車庫的創業團隊則真實的實踐產品開發與市場的驗證循環。我們提供早期驗證方法與場域引介，協助團隊驗證需求與商業模式有效性，接受更複雜的挑戰，做出真正讓市場與客戶買單的產品。在這裡，初創團隊加速驗證循環，汲取經驗，走入真實世界的精神時光屋。<br><br>

                不是每個人都適合創業，但每個人都可以思考自己與創新的距離。在黑客松、臺大創創挑戰賽，你可以發現動手創新只是信念的距離；參觀新創人才媒合會、車庫Demo Day則可看見新創團隊的千百種樣貌與故事。當創新走向新創，我們為新創與社會改變提供更多契機。</p>
            </div>
        </div>
    </div>

    <div class="container" id="sponsor" style="margin-bottom: 20px;">
        <div class="title">
            <h3 class="en">Sponsor</h3>
            <h3 class="zh">贊助單位</h3>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="logo-block">
                    <img src="../assets/img/logo/ntu-diamond.png" alt="">
                </div>
            </div>
             <div class="col-sm-4">
                <div class="logo-block">
                    <img src="../assets/img/logo/diamond.png" alt="">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="logo-block">
                    <img src="../assets/img/logo/fubon.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="partners" style="margin-bottom: 20px;">
        <div class="title">
            <h3 class="en">Eco-partner</h3>
            <h3 class="zh">協力夥伴</h3>
        </div>
        <h4 class="partners-title"><span class="en">Strategic</span> 策略協力</h4>
        <div class="row">
            <one-partner v-for="partner in strategic" :partner="partner"></one-partner>
        </div>
        <h4 class="partners-title"><span class="en">Resource</span> 資源協力</h4>
        <div class="row">
            <one-partner v-for="partner in resource" :partner="partner"></one-partner>
        </div>
        <h4 class="partners-title"><span class="en">Media</span> 媒體協力</h4>
        <div class="row">
            <one-partner v-for="partner in media" :partner="partner"></one-partner>
        </div>
        <h4 class="partners-title"><span class="en">Social Media</span> 社群協力</h4>
        <div class="row">
            <one-partner v-for="partner in social" :partner="partner"></one-partner>
        </div>
    </div>

    <footer>

    </footer>

    <script type="text/javascript" src="../assets/js/summit/general.js"></script>
    <script type="text/javascript" src="../assets/js/summit/about-vue.js"></script>
</body>
</html>
