.curtain{
    overflow: hidden;
    width: 400px;
    height: 200px;
}
.curtain_wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.curtain_panel{
    background-color: aqua;
    z-index: 2;
    float: left;
    height: 100%;
    width: 50%;
    border-radius: none;
    transition: all .3s ease-out;
    line-height: 200px;
    color: #FFF;
    font-size: large;
}
.curtain_wrapper:hover .panel-left{
    transform: translateX(-100%);
}
.curtain_wrapper:hover .panel-right{
    transform: translateX(100%);
}
.inside{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}