@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@font-face{
    font-family: Futura-Medium;
    src: url('../../font/Futura-Medium.ttf');
}
$yellow: #f2c640;

html *{
    font-family: 'Futura-Medium', 'Noto Sans TC', sans-serif;
}

body{
	background-color: #000;
	overflow-x: hidden;
}
p{
    font-size: 18px;
}
a:hover{
	color: $yellow;
}

.full-height{
    height: 100%;
}
.flexbox-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
}

//mixin for keyframes prefix
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content; 
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	} 
}

#sidenav{
	$nav_width: 300px;

	// &:hover #nav_button{
	// 	left: -50px;
	// }
	#nav_button{
		position: fixed;
		left: 0;
		top: 10vh;
		color: #000;
		z-index: 100;
		cursor: pointer;
		transition: all .5s;

		$button_height: 60px;
		$button_width: 40px;
		.icon-wrapper{
			z-index: 100;
			position: absolute;
			height: $button_height;
			left: 5px;
			top: 0;

			.fa-bars{
				position: relative;
				line-height: $button_height;
			}
		}
		.triangle{
			content: "";
			z-index: 99;
			position: absolute;
			left: 0;
			top: 0;
			width: 0; 
			height: 0;

			border-top: $button_height/2 solid transparent;
			border-bottom: $button_height/2 solid transparent;
			border-left: $button_width solid #fff;
		}
	}
	#nav_menu{

		.logo{
			height: 80px;
			width: $nav_width;
			margin: 20px 50px 0;
			img{
				height: 100%;
			}
		}
		.list{
			position: fixed;
			left: 0;
			top: 0;
			z-index: 100;
			height: 100vh;
			width: 0;
			background-color: #eee;
			overflow: hidden;
			transition: width .4s ease-out;

			&.expanded{
				width: $nav_width;
				@media screen and (max-width: 768px){
					width: 100vw;
				}
			}

			a, a:hover{
				text-decoration: none;
				color: #333;
			}
			.close_button{
				position: absolute;
				right: 10px;
				top: 10px;
			}
			ul{
				list-style-type: none;
				padding: 20px 0 0;

				li{
					padding: 10px 40px;
					width: $nav_width;
					position: relative;

					.icon{
						position: absolute;
						right: 20px;
						top: 50%;
						transform: translateY(-50%);
					}
					@media screen and (max-width: 768px){
						width: 100vw;
					}
					&:hover{
						background-color: $yellow;
					}
					.title-zh{
						font-size: 28px;
						font-weight: bold;
						@media screen and (max-width: 768px){
							font-size: 24px;
						}
					}
					.title-en{
						font-size: 24px;
						font-style: italic;
						@media screen and (max-width: 768px){
							font-size: 20px;
						}
					}
				}
			}
		}
		.list.sub{
			left: $nav_width;
			z-index: 100;
			background-color: #ddd;
			@media screen and (max-width: 768px){
				left: 0;
				overflow: scroll;
				min-height: 100vh;
				height: auto;
			}

			ul{
				padding-top: 120px;
			}
			.back_button{
				position: absolute;
				left: 10px;
				top: 10px;
			}
		}
	}
}

footer{
	color: #fff;
	text-align: center;
	background-color: #333;
	padding: 30px 0 20px;

	a{
		color: #fff;
	}
}