@import "general";


#speakers{
	margin: 30px auto;
}
.one-man{
	position: relative;
	cursor: pointer;
	margin-bottom: 30px;

	.img-wrapper{
		img{
			width: 100%;
			filter: contrast(70%);
			transition: all .3s ease;
		}
	}
	.info-wrapper{
		position: absolute;
		left: 10px;
		bottom: 10px;
		color: #fff;

		.name{
			font-size: 24px;
			font-weight: bold;
		}
		.title{
			font-size: 18px;
		}
	}
	&:hover{
		img{
			filter: contrast(100%);
			transform: scale(.98);
		}
	}
}

.modal{
	text-align: center;
	padding: 0!important;

	$modal_height: 70vh;
	&:before{
		content: '';
		display: inline-block;
		height: (100vh-$modal_height)/2;
		vertical-align: middle;
		margin-right: -4px;
	}

	.modal-dialog{
		width: 80vw;
		@media screen and (max-width: 768px){
			width: auto;
		}
	}
	.modal-content{
		border-radius: 0px;
		position: relative;
		text-align: left;
		
		.close-button{
			position: absolute;
			right: 20px;
			top: 20px;
			cursor: pointer;
			color: #999;
			z-index: 10;

			&:hover{
				color: #000;
			}
		}
		.modal-body{
			padding: 0;
			position: relative;
			
			.left{
				width: 30%;
				position: absolute;
				left: 0;
				top: 0;
				// box-shadow: 5px 5px 3px #333;
				background-color: #000;

				img{
					width: 100%;
				}

			}
			.right{
				width: 73%;
				height: 70vh;
				position: absolute;
				right:0;
				top: 50px;
				background-color: #fff;
				overflow: auto;
				box-shadow: 0 0 5px 2px #999;
				padding: 30px 50px;

				.content{
					.title{
						color: #999;
					}
					.introduction{
						text-align: justify;
					}
				}
			}
			@media screen and (max-width: 768px){
				.left{
					width: 100%;
					position: relative;
				}
				.right{
					width: 100%;
					position: relative;
					box-shadow: none;
					height: auto;
					padding: 20px;
				}
			}
		}
	}
}